---
---

@import "{{ site.theme }}";
html, body {
     height: 100%;
}
body {
     background: #f2f2f2;
}
#main_content_wrap{
     padding-bottom: 100px;
}
.navbar-inverse, .navbar-header, .navbar-collapse, .collapse{
     background: #4b0082;
}
#holder {
    min-height: 100%;
    position:relative;
    background: #f2f2f2; 
}
.inner{
     padding: 20px 50px;
     max-width: none;
}
#footer_wrap{
     background: #4b0082;
}
.post-tag{
     display:inline-block;
     background:rgba(106,159,181,0.15);
     padding:0 .5rem;
     margin-right:.5rem;
     border-radius:4px;
     color:#6a9fb5;
     font-family:"PT Sans",Helvetica,Arial,sans-serif;
     font-size:90%;
     -webkit-transition:all 0.1s ease-in-out;
     -moz-transition:all 0.1s ease-in-out;
     transition:all 0.1s ease-in-out
}
.post-tag:before{
     content:"\f02b";
     font-family:FontAwesome;
     padding-right:.5em
}
.post-tag:hover{
     text-decoration:none;
     background:#6a9fb5;
     color:#fff
}
.post-tag{
     margin:.2em .3em
}
